:root {
  --primary-color: #10cab7;
  --secondary-color: #2c4755;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  font-size: 100px;
  color: #ebeced;
  font-weight: 800;
  letter-spacing: -3px;
  text-align: center;
  margin: 0;
}

.section-header + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

@media (max-width: 767px) {
    .section-header {
        font-size: 65px;
    }
    .section-header + p {
        margin-top: -20px;
        font-size: 15px;
    }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header Start */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: black;
  height: 2px;
  margin-bottom: 5px;
  width: 100%;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  position: absolute;
  list-style: none;
  top: calc(100% + 20px);
  right: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  min-width: 200px;
  display: none;
  z-index: 1;
}

.header .links li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  transition: 0.3s;
}

.header .links ul li:not(:last-child) a {
  border-bottom: solid 1px #ddd;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  top: 20px;
  right: 5px;
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .links:hover::before {
  display: block;
}

/* Header End */
/* Landing Start */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--primary-color);
}

.landing .intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro p {
  font-size: 19px;
  line-height: 1.8;
}
/* Landing End */
/* Features Start */
.features {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .feature {
  padding: 20px;
  text-align: center;
}
.features .feature i {
  color: var(--primary-color);
  font-size: 50px;
}

.features .feature h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .feature p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* Features End */
/* Services Start */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .image img {
    width: 260px;
}

.services .services-content .image {
    position: relative;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: #2c4755;
    width: 100px;
    height: calc(100% + 100px);
    right: 10px;
    top: -50px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .services .image {
        display: none;
    }
}

.services .services-content .service i {
    color: var(--primary-color);
    font-size: 40px;
    margin-right: 20px;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .service {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .service text {
    flex: 1;
    min-width: 200px;
}

.services .services-content .service h3 {
    margin: 0 0 20px;;
}

.services .services-content .service p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 767px) {
    .services .services-content .service {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services .services-content .service text {
        min-width: 200px;
    }
    .services .services-content .service i {
        margin: 0 auto 15px auto
    }
}

/* Services End */
/* Portfolio Start */

.portfolio {
  background-color: #f6f6f6;
}

.portfolio .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio .projects img {
  max-width: 100%;
}

.portfolio .projects {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .projects .project .text {
    background-color: white;
    padding: 20px;
}

.portfolio .projects .project .text h3 {
    background-color: white;
    margin: 0 0 10px 0
}

.portfolio .projects .project .text p {
    margin: 0;
    color: #777;
    line-height: 1.6;
}

/* Portfolio End */
/* About Start */
.about {
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 100px
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
}

.about .about-content .image img {
    width: 250px;
    height: 375px;
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #eee;
    left: -30px;
    top: -50px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin-bottom: 60px;
    }
    
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
    
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 80%;
    border-left: solid 80px var(--primary-color);
    border-bottom: solid 80px var(--primary-color);
    right: -160px;
    top: -50px;
    z-index: -1;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
    position: relative;
}

@media (max-width: 767px) {
  .about .about-content .text {
    width: 300px;
  }
  
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-top: 0;
    margin-bottom: 60px;
}

.about .about-content .text hr {
    width: 50%;
    display: block;
    border-color: var(--primary-color);
}

.about .about-content .text p:last-of-type {
    margin-top: 60px;
    line-height: 2;
    color: #777;
}

.contact {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6;
}

.contact .contact-info {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact .contact-info .label {
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.contact .contact-info .mail a {
    font-size: 35px;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

@media (max-width: 767px) {
  .contact .contact-info .label,
  .contact .contact-info .mail a {
    font-size: 18px;
  }
  .contact .contact-info div {
    font-size: 13px;
  }
}

.footer {
  background-color: #2c4755;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.footer span {
  color: #10cab7;
  font-weight: bold;
}